@model EFcoreDemo.Models.User

@{
    ViewData["Title"] = "删除";
}

<h1>删除</h1>

<h3>确定删除？</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Political)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Political)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Graduated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Graduated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Professional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Professional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraduatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraduatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Other)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Other)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserID" />
        <input type="submit" value="删除" class="btn btn-danger" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>
